body {
background-color: red;
}

h1 {
color: #FFF;
font-size: 2em;
padding-top: 100px;
width: 100%;
font-family: Georgia;
text-align: center
border: 3px soild black;
}

h2 {
color: pink;
font-size: 2em
padding-top: 100px;
width: 100%
font-family: Georgia;
text-align: center
border: 3px soild black;
}

h3 {
color: blue;
font-size: 2em
padding-top: 100px;
width: 100%
font-family: Georgia;
text-align: center
border: 3px soild black;
}

p {
color: #FFA07A;
font-size: 14px;}